[submodule "submodules/github.com/catppuccin/btop"]
	path = submodules/github.com/catppuccin/btop
	url = https://github.com/catppuccin/btop.git
[submodule "submodules/github.com/catppuccin/foot"]
	path = submodules/github.com/catppuccin/foot
	url = https://github.com/catppuccin/foot.git
[submodule "submodules/github.com/catppuccin/fuzzel"]
	path = submodules/github.com/catppuccin/fuzzel
	url = https://github.com/catppuccin/fuzzel.git
[submodule "submodules/github.com/catppuccin/imv"]
	path = submodules/github.com/catppuccin/imv
	url = https://github.com/catppuccin/imv.git
[submodule "submodules/github.com/catppuccin/zathura"]
	path = submodules/github.com/catppuccin/zathura
	url = https://github.com/catppuccin/zathura.git
[submodule "submodules/github.com/GitAlias/gitalias"]
	path = submodules/github.com/GitAlias/gitalias
	url = https://github.com/GitAlias/gitalias.git
[submodule "submodules/github.com/rtldg/goodfootsteps"]
	path = submodules/github.com/rtldg/goodfootsteps
	url = https://github.com/rtldg/goodfootsteps.git
[submodule "submodules/github.com/taifuhime/typhoonhud"]
	path = submodules/github.com/taifuhime/typhoonhud
	url = https://github.com/taifuhime/typhoonhud.git
