dwm.borderpx: 3
dwm.snap: 16
dwm.showbar: 1
dwm.topbar: 1
dwm.swallowfloating: 1
dwm.smartgaps: 1
dwm.gappih: 10
dwm.gappiv: 10
dwm.gappoh: 10
dwm.gappov: 10
dwm.viewonrulestag: 1
dwm.user_bh: 8
dwm.showtitle: 0
dwm.col_norm_fg: #bbbbbb
dwm.col_norm_bg: #212121
dwm.col_norm_border: #4a4a4a
dwm.col_sel_fg: #ffffff
dwm.col_sel_bg: #212121
dwm.col_sel_border: #ffffff
dwm.col_urg_fg: #ffffff
dwm.col_urg_bg: #c792ea
dwm.col_urg_border: #c792ea
dwm.col_title_fg: #ffffff
dwm.col_title_bg: #212121
dwm.col_title_border: #c792ea
dwm.col_dmenu_hover: #c792ea
dwm.momentaryalttags: 0
dwm.ulinepad: 0
dwm.ulinestroke: 3
dwm.ulinevoffset: 0
dwm.ulineall: 0
dwm.mfact: 0.5
dwm.nmaster: 1
dwm.resizehints: 1
dwm.lockfullscreen: 1
dmenu.topbar: 1
dmenu.fuzzy: 1
dmenu.centered: 0
dmenu.min_width: 500
dmenu.font: Iosevka NFM Medium:size=18
dmenu.prompt: 
dmenu.col_norm_fg: #bbbbbb
dmenu.col_norm_bg: #212121
dmenu.col_sel_fg: #ffffff
dmenu.col_sel_bg: #c792ea
dmenu.col_out_fg: #ffffff
dmenu.col_out_bg: #c792ea
dmenu.lines: 0
dmenu.border_width: 3
