dwm.borderpx: 3
dwm.snap: 16
dwm.showbar: 1
dwm.topbar: 1
dwm.swallowfloating: 1
dwm.smartgaps: 1
dwm.gappih: 10
dwm.gappiv: 10
dwm.gappoh: 10
dwm.gappov: 10
dwm.viewonrulestag: 1
dwm.user_bh: 8
dwm.showtitle: 0
dwm.col_norm_fg: #bbbbbb
dwm.col_norm_bg: #212121
dwm.col_norm_border: #4a4a4a
dwm.col_sel_fg: #ffffff
dwm.col_sel_bg: #212121
dwm.col_sel_border: #ffffff
dwm.col_urg_fg: #ffffff
dwm.col_urg_bg: #c792ea
dwm.col_urg_border: #c792ea
dwm.col_title_fg: #ffffff
dwm.col_title_bg: #212121
dwm.col_title_border: #c792ea
dwm.col_dmenu_hover: #c792ea
dwm.momentaryalttags: 0
dwm.ulinepad: 0
dwm.ulinestroke: 3
dwm.ulinevoffset: 0
dwm.ulineall: 0
dwm.mfact: 0.5
dwm.nmaster: 1
dwm.resizehints: 1
dwm.lockfullscreen: 1
dmenu.topbar: 1
dmenu.fuzzy: 1
dmenu.centered: 0
dmenu.min_width: 800
dmenu.col_norm_fg: #bbbbbb
dmenu.col_norm_bg: #212121
dmenu.col_sel_fg: #ffffff
dmenu.col_sel_bg: #c792ea
dmenu.col_out_fg: #000000
dmenu.col_out_bg: #00ffff
dmenu.lines: 0
dmenu.border_width: 0
st.font: FiraCode Nerd Font Mono:pixelsize=16:antialias=true:autohint=true
st.borderpx: 2
st.shell: /bin/sh
st.cwscale: 1.0
st.chscale: 1.0
st.minlatency: 8
st.maxlatency: 33
st.blinktimeout: 800
st.boxdraw: 1
st.boxdraw_bold: 0
st.boxdraw_braille: 1
st.bellvolume: 0
st.termname: st-256color
st.tabspaces: 8
st.alpha: 0.8
st.color0: black
st.color1: red3
st.color2: green3
st.color3: yellow3
st.color4: blue2
st.color5: magenta3
st.color6: cyan3
st.color7: gray90
st.color8: gray50
st.color9: red
st.color10: green
st.color11: yellow
st.color12: #5c5cff
st.color13: magenta
st.color14: cyan
st.color15: white
st.foreground: gray90
st.background: black
st.cursorColor: #cccccc
